@model HashModel

<div class="card">
    <div class="card-header">
        <h1>Hash hashing</h1>
    </div>
    <form id="hashForm" method="post" class="card-body" asp-action="Hash">
        <label for="toHash">Text to hash</label>
        <input name="toHash" type="text" asp-for="toHash" class="form-control"/><br/>
        <label for="hashType">Select Hashing Algorithm</label>
        <select id="hashType" name="hashType" class="form-control" asp-for="hashType">
            <option value="SHA512">SHA512</option>
            <option value="SHA1">SHA1</option>
            <option value="SHA256">SHA256</option>
            <option value="MD5">MD5</option>
            <option value="BCrypt">BCrypt</option>
        </select><br/>
        @if (ViewBag.result != "")
        {
            <span><strong>Result:</strong> @ViewBag.result</span>
            <br/>
        }
        <input type="submit" class="form-control" value="Submit"/>
    </form>
</div>
<br/><br/>
<div class="card d-flex flex-column">
    <div class="card-header">
        <h1>Hash zwakheden</h1>
    </div>
    <div class="card-body">
        <p>Hash laat altijd 130 karakters zien, waardoor Hash makkelijk te spotten valt. Ook kan je dan snel zien of een woord vaak wordt gebruikt, zoals "70b77b7546d42e83139316ec07d048672f5c4aa41a1fec329de6c18e6ef53e3cf7ad124af18aec0b55a25adeb1051f47e8899921cfd9af560e8dafeb0939abcf" (hallo)</p>
    </div>
</div>
